<footer class="bg-dark text-light py-3 mt-4">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <!-- Thông tin bản quyền -->
            <div>
                <span>© 2025 Cafe Management. All Rights Reserved.</span>
            </div>

            <!-- Hình ảnh ly cafe -->
            <div>
                
            </div>

            <!-- Đường dẫn -->
            <div>
                <a href="/AdminHome/Index" class="text-light text-decoration-none">Trang chủ</a>
                &nbsp;|&nbsp;
                <a href="/AdminSettings/Index" class="text-light text-decoration-none">Cài đặt</a>
            </div>
        </div>
    </div>
</footer>
