<div id="layoutSidenav_nav">
    @{ var userInfomatiom = (websitecafe.Models.User)Session["ADMIN"]; }
    <nav class="sb-sidenav accordion bg-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav flex-column">

                <!-- Dashboard -->
                <a class="nav-link" href="/AdminHome/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <hr class="my-2">

                <!-- Quản lý Cafe -->
                <a class="nav-link" href="/AdminProduct/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-coffee"></i></div>
                    Quản lý Cafe
                </a>
                <hr class="my-2">

                <!-- Quản lý Người Dùng -->
                <a class="nav-link" href="/AdminUser/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Quản lý Người Dùng
                </a>
                <hr class="my-2">

                <!-- Cài đặt -->
                <a class="nav-link" href="/AdminSettings/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                    Cài đặt
                </a>
                <hr class="my-2">

                <!-- Đăng xuất -->
                <a class="nav-link text-danger" href="/AdminAuthen/Logout">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Đăng xuất
                </a>

            </div>
        </div>
    </nav>
</div>
